/* Basic styling for the navigation bar */
body {
    /* background-image: url(doodle_food_pattern.jpg); */
    /* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
    font-family: 'Catamaran', sans-serif;
    background-color: rgba(169, 185, 187, 0.511);
    /* 005163  */
    background-size: cover;
}

#logo {
    position: relative;
    left: 20%;
    top: 10%;
}

#navbar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #005163;
    padding-top: 20px;
}

/* Style for the navigation buttons */
#buttonField {
    position: fixed;

    top: 35%;

}

#navbar a {
    padding: 22px 20px;
    padding-left: 25px;
    margin-bottom: 10px;
    /* padding-bottom: px; */
    font-weight: 600;
    /* text-align: center; */
    /* text-decoration: #005163; */
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    /* text-shadow: #00516315; */

}

/* Change button color on hover */


#navbar a:hover {
    background-color: #24243e6c;
    border-radius: 20px;

}

.contentArea {
    /* max-width: 600px; */
    margin: auto;
    padding: 20px;
    /* margin-left: 470px; */
}

/* Style the container */
/* .container.products {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px; */
/* margin-left: 270px; */
/* } */
.containerProducts {
    margin: auto;
}

h3 {

    font-size: 28px;
    text-align: center;
    font-weight: bold;
    /* margin: auto; */
    padding: 6px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 750px;
    background-color: #00516315;
    color: #005163;
    border: 1px solid #005163;
    width: 300px;
    border-radius: 30px 0px 30px 0px;
}

/* Style the table */
table {
    width: 65%;
    border-collapse: collapse;
    margin-top: 20px;
    /* margin: auto; */
    margin-left: 400px;
    /* align-content: center; */
    margin-bottom: 30px;
}

/* Style the table headers */
th {
    background-color: #005163;
    color: #fff;
    text-align: left;
    padding: 10px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 18px;
}

tr:nth-child(odd) {
    background-color: rgba(220, 220, 220, 0.562);
}

tr:nth-child(even) {
    background-color: rgba(113, 106, 106, 0.203);
}

/* Style the table rows */


/* Style table cell padding and text alignment */