body {
    background-image: url(doodle_food_pattern.jpg);
    background-size: cover;
}

#formField {
    margin-left: 40px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.Register {
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(25, 86, 121);
    text-align: center;
    font-family: Verdana, sans-serif;
    border-radius: 5px;
    /* border-color: rgb(38, 113, 78); */
    border: 1px solid rgb(24, 134, 44);
    /* border-color: black; */
}

.Register::placeholder {
    color: rgb(25, 86, 121);
}

option {
    font-size: 16px;
    background-color: #f2f2f2;
}

#RegisterButton {
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #2C5F2D;
    color: #fff;
    margin-left: 40px;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: #2C5F2D;
    color: #ffffff;
    width: 300px;
    border-radius: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin-left: 35px;
    margin-bottom: 30px;
}

thead th {
    background-color: #2C5F2D;
    font-family: Open Sans;
    font-size: 18px;
    color: #ffffff;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}

tr:nth-child(even) {
    background-color: gainsboro;
}