* {

    font-family: 'Catamaran', sans-serif;
}

body {
    background-color: rgba(169, 185, 187, 0.42);
    background-size: cover;
}

h3 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    background-color: #00516315;
    color: #005163;
    border: 1px solid #005163;
    /* background-color: #2C5F2D;
    color: #ffffff; */
    width: 300px;
    border-radius: 30px 0px 30px 0px;
}

.long {
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: #2C5F2D;
    color: #ffffff;
    width: 300px;
}

.short {
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: #00516315;
    color: #005163;
    width: 200px;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin-left: 35px;
    margin-bottom: 30px;
}

thead th {
    background-color: #005163;
    font-size: 18px;
    color: #ffffff;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 18px;
}

tr:nth-child(odd) {
    background-color: rgba(220, 220, 220, 0.562);
}

tr:nth-child(even) {
    background-color: rgba(113, 106, 106, 0.203);
}

.btn {
    background-color: #2C5F2D;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 22px;
    margin: auto;
    margin-top: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 300px;
    height: 100px;
}

.button1 {
    margin-top: 100px;
}

.form-control {
    display: inline-block;
    margin-left: 135px;
    border-color: #005163;
    border-width: 2px;
}

.Supplier {
    margin-left: 5px;
}

.btnSupplier {
    margin-left: 5px;
    background-color: #005163;
    color: #ffffff;
}

.Update {
    width: 200px;
    height: 36px;
    font-size: 16px;
    text-align: center;
    margin-left: 135px;
    background-color: #2C5F2D;
    color: #ffffff;
    border-radius: 5px;
}


.warehouseTable {
    width: 75%;
    margin-left: 175px;
}

/*Register*/

.Register {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.RegisterBtn {
    width: 100%;
    background-color: #2C5F2D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Reg {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/*Register button*/

.Regg {
    background-color: #2C5F2D;
    border-radius: 5px;
    color: #ffffff;
}

/*Invoice*/

.UnitPrice {
    margin-left: 135px;
    background-color: white;
    text-align: center;
    width: 250px;
}

.Add {
    background-color: #2C5F2D;
    margin-left: 2px;
    width: 100px;
    color: white;
}