#dropdownCategory {
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    color: #ffffff;

    position: relative;
<<<<<<< HEAD
    /* left: 70px; */
    top: 50px;
    /* width: 100px; */
=======

    top: 30px;

>>>>>>> main
    height: 50px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 70px;

}

#warehouseTable{
    margin-left: 400px;
}
#Category {
    position: absolute;
    color: #005163;
    text-align: center;
    border: 1px solid #005163;
    left: 150px;
    margin-left: 220px;
    height: 40px;
}

#Products {
    position: absolute;
    color: #005163;
    text-align: center;
    border: 1px solid #005163;
    left: 380px;
    margin-left: 215px;
    margin-right: 70px;
}



#numberInput {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #005163;
    background: #fff;
    text-align: center;
    color: #005163;

<<<<<<< HEAD
    /* margin-top: 10px; */
    margin-left: 45px;
=======

    margin-left: 30px;
>>>>>>> main
    margin-right: 30px;
    position: absolute;
    left: 780px;
}



#buttonInput {
    font-size: 16px;
    font-weight: bold;
    width: 125px;
    height: 40px;
    border: 1px solid #005163;
    border-radius: 5px;
    background: #005163;
    color: #fff;
    position: absolute;
    left: 1000px;
}


/* Style the select element (dropdown) */
select {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: 40px;
}

/* Style the options in the dropdown */
option {
    font-size: 16px;
    background-color: #f2f2f2;
}